header {
	border: 1px solid black;
}

.nav {
	border: 1 px solid black;
	background-color: #FF0000;
	width: 10%;
	margin: 0;
	display: inline-block;
}

.content {
	border: 1 px solid red;
	background-color: #4169E1;
	width: 80%;
	margin: 0;
	display: inline-block;
}