header {
	text-align: center;
	background-color: #52DDFF;
	position: fixed;
	text-style: none;
}

.header {
	position: center;
	


}

.logo {
	height: 100;
	width: 100;
}

li {
	list-style: none;
}

.article_img {
	float: left;
	height: 50;
	width: 50;
}

#logo {
	background-color: #52DDFF;
	text-style: none;
	border-radius: 25px;
}
footer {
	text-align: center;
}
