
@media screen and (min-width: 650px) {

    .logo {
      float:left;
      width: 15%;
      height: 15%;
    }
    .main_content {
    	width: 50%;
    	float: right;
    	top-padding: 40%;
    }
    #nav_panel {
    	z-index: 3;
    	width: 10%;
    }
}

