<<<<<<< HEAD
@media screen and (max-width: 650px) {
	.main_content {
		background-color: #8A2BE2;
	}
}
=======
@media screen and (min-width: 650px) {

    .logo {
      float:left;
      width: 15%;
      height: 15%;
    }






  }
>>>>>>> etch
